<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Jean-P2-AP2</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="r_cobros">
                <span class="oi oi-script" aria-hidden="true"></span> Registro de cobros
            </NavLink>
        </li>
        <li><hr class="dropdown-divider" /></li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="c_clientes">
                <span class="oi oi-person" aria-hidden="true"></span> Consulta de clientes
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="c_ventas">
                <span class="oi oi-dollar" aria-hidden="true"></span> Consulta de ventas
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="c_cobros">
                <span class="oi oi-script" aria-hidden="true"></span> Consulta de cobros
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
